<div class="w-full h-full">
  <form action="" class="h-full">
    <div class="flex flex-column h-full">
      <div class="flex flex-grow-1">
        <textarea
          class="w-full h-full"
          pInputTextarea
        >
        </textarea>
      </div>

      <div class="flex justify-content-end">
        <button
          pButton
          type="submit"
          label="Zapisz notatki"
          class="mt-2 md:text-xs "
          icon="pi pi-save"
          size="small"
        ></button>
      </div>

    </div>
  </form>
</div>
