<div class="flex w-full h-full align-items-center">
  <p-carousel
    class="w-full"
    [value]="latelyModifiedItems"
    [numScroll]="1"
    [numVisible]="4"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-item pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-1 flex justify-content-end align-items-end">
          <div class="flex mx-auto justify-content-end align-items-end absolute">
            <p-tag [value]="operationTypes[item.operationId || 0].name" [style]="{'background': operationTypes[item.operationId || 0].color}" />
          </div>
        </div>

        <div class="mb-1">
            <div class="relative mx-auto w-5rem">
                <img 
                    src="../../../../../assets/no-photo.jpg" 
                    [alt]="item.name" 
                    class="hidden xl:block w-full border-round" 
                    />
            </div>
        </div>

        <div class="xl:mb-1 text-xs"><b>Nazwa:</b> {{ item.itemName }}</div>

        <div class="xl:mb-2 text-xs"><b>Data: </b> {{ item.operationDate | date : "yyyy-MM-dd"}}</div>

        <div class="flex justify-content-end align-items-end">
          <div>
            <p-button
              icon="pi pi-pencil"
              severity="secondary"
              [outlined]="true"
              size="small"
            />
            <p-button icon="pi pi-eye" styleClass="ml-2" size="small"/>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
