<div class="h-full p-3">
  <p-panel class="min-h-screen" header="Kartoteka">
    <div class="flex w-full algin-items-end justify-content-end">
      <p-button class="m-2" icon="pi pi-ban" [disabled]="!selectedClient" />
      <p-button
        class="m-2"
        label=""
        icon="pi pi-pen-to-square"
        (onClick)="showDialog()"
        [disabled]="!selectedClient"
      />

      <p-dialog
        header="Edytuj dane klienta"
        [(visible)]="visible"
        [modal]="true"
      >
        <app-client-form />
      </p-dialog>

      <p-button class="m-2" icon="pi pi-trash" [disabled]="!selectedClient" />
      <p-button class="m-2" icon="pi pi-list" [disabled]="!selectedClient" />
    </div>

    <p-table
      [value]="personsRegister"
      selectionMode="single"
      stateStorage="session"
      [(selection)]="selectedClient"
      [first]="first"
      [rows]="rows"
      [rowsPerPageOptions]="[10, 20, 30]"
      [totalRecords]="personsRegister.length"
      styleClass="p-datatable-gridlines"
      [scrollable]="true"
      [paginator]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th class="w-3">Imię i nazwisko</th>
          <th class="w-1">Zastawione rzeczy</th>
          <th class="w-2">Email</th>
          <th class="w-2">Numer telefonu</th>
          <th class="w-1">Możliwość transkacji</th>
          <th class="w-3">Notatki</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-personRegister>
        <tr [pSelectableRow]="personRegister">
          <td class="w-1rem surface-100">
            <i class="pi pi-angle-right"></i>
          </td>
          <td>{{ personRegister.name }}</td>
          <td>
            Ilość: <b>{{ personRegister.pawned }}</b>
          </td>
          <td
            [class.font-italic]="personRegister.email == ''"
            [class.text-bluegray-300]="personRegister.email == ''"
          >
            {{ personRegister.email || "nie podano" }}
          </td>
          <td
            [class.font-italic]="personRegister.phoneNumber == ''"
            [class.text-bluegray-300]="personRegister.phoneNumber == ''"
          >
            {{ personRegister.phoneNumber }}
          </td>
          <td>
            <i
              *ngIf="personRegister.blacklistFlag; else noBlacklist"
              class="pi pi-times-circle"
              [ngStyle]="{ color: 'var(--red-600)' }"
            ></i>

            <ng-template #noBlacklist>
              <i
                class="pi pi-check-circle"
                [ngStyle]="{ color: 'var(--green-600)' }"
              ></i>
            </ng-template>
          </td>
          <td
            [class.font-italic]="personRegister.notes == ''"
            [class.text-bluegray-300]="personRegister.notes == ''"
          >
            {{ personRegister.notes || "Brak opisu" }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
